body {
	height: 100vh;
}
/*#story-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}*/

#generator {
  position: fixed;
  bottom: 0;
  padding-left: 10px;
}

/*#gentext {
  position: fixed;
  bottom: 1vh;
  right: 1vh;
}*/

#buildings-table {
	top: 0;
	right: 0;
}

.table__buildings-table{
  position: fixed!important;
  text-align: center;
  width: auto;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 25%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
