#story-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#generator {
  position: relative;
}
#gentext {
  position: fixed;
  bottom: 1vh;
  right: 1vh;
}
