body {
	height: 100vh;
}
/*#story-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}*/

#generator {
  position: fixed;
  bottom: 0;
  padding-left: 10px;
}

/*#gentext {
  position: fixed;
  bottom: 1vh;
  right: 1vh;
}*/

#buildings-table {
	top: 0;
	right: 0;
}

.table__buildings-table{
  position: fixed!important;
  text-align: center;
  width: auto;
}
